table{
width: 80%;
margin: auto;
border-collapse: collapse;
}
table:not(tbody>tr:first-child){
    text-align:center;
}
thead>tr>th{
color: aliceblue;    
}
thead>tr>th>p:first-child{
font-size: 20px
}
thead>tr>th>p:nth-child(2){
font-size: 30px;
margin-top: 15%;
margin-bottom: -5%;
}
thead>tr>th>p:last-child{
font-size: 20px
}
thead>tr>th:first-child{
border-radius: 15px 0 0 0;
background-color: rgb(121 135 172);
text-transform: capitalize;
}
thead>tr>th:nth-child(2){
background-color: rgb(79 98 141)
}
thead>tr>th:nth-child(3){
background-color: rgb(47 65 115)  
}
thead>tr>th:nth-child(4){
background-color: rgb(22 41 84)  
}
thead>tr>th:last-child{
border-radius: 0 15px 0 0;
background-color: rgb(7 21 58) 
}
tbody>tr>td{
text-transform: capitalize;
height: 50px;
}
tbody>tr:nth-child(odd)>td:nth-child(odd),
tfoot>tr:nth-child(odd)>th:nth-child(odd){
    background-color: rgb(219, 219, 219)
}
tbody>tr:nth-child(even)>td:nth-child(odd){
    background-color: rgb(236 236 236)
}
tbody>tr:nth-child(odd)>td:nth-child(even),
tfoot>tr:nth-child(odd)>th:nth-child(even){
    background-color: rgb(231 231 231)
}
tbody>tr:nth-child(even)>td:nth-child(even){
    background-color:rgb(243 243 243)
}
tfoot>tr>th:first-child{
    border-radius: 0 0 0 15px
}
tfoot>tr>th:last-child{
    border-radius: 0  0 15px 0
}
tfoot>tr>th{
    text-transform: uppercase;
    width: 50px;
    height: 80px;
    color: rgb(102, 98, 98);
    
}
